{% extends "base.html" %}

{% block title %}Выход из системы{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Вы вышли из системы</h4>
                <p>Спасибо, что посетили наш сайт!</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Войти снова</a>
                <a href="{% url 'bookings:index' %}" class="btn btn-secondary">На главную</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}