<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Автомойка "Чистый автомобиль"</h5>
                <p>Профессиональная мойка автомобилей с 2010 года</p>
            </div>
            <div class="col-md-4">
                <h5>Контакты</h5>
                <p>Телефон: +7 (495) 123-45-67</p>
                <p>Email: info@clean-car.ru</p>
                <p>Адрес: Москва, ул. Автомойкина, д. 12</p>
            </div>
            <div class="col-md-4">
                <h5>Часы работы</h5>
                <p>Пн-Вс: 8:00 - 22:00</p>
                <p>Без выходных и перерывов</p>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; 2024 Автомойка "Чистый автомобиль". Все права защищены.</p>
        </div>
    </div>
</footer>